
/* background and text colors  for status bar */
.statusbar {
    background-image: none;
    background-color: rgb(128, 128, 128);
    color: white;
    min-height: 24px;
}
/* 
entry.statusbar {
    background-color:rgb(192, 192, 192);
   outline:none;
} */

/* define font sizes for labels */
.smallLabel { 
    font-size: 70% 
}

.largeLabel { 
    font-size: 140% 
}

.toolbar-button,
.toolbar-button-arrow {
    min-width: 24px;
    min-height: 24px;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 0;
    margin: 0px;
    /* outline: none; */
}

.toolbar-button-gap {
    margin-right: 12px;
}
 
.toolbar-button:hover, 
.toolbar-button-arrow:hover {
    background: lightblue;
    border-style:solid;
    border-color:blue;
}

.toolbar-button-arrow {
    padding: 0px;
    margin:0px;
    min-width: 12px;
}

.toolbar-separator {
    padding-left: 4px;
    padding-right: 4px;
}

.flat-button {
    border: none; 
    box-shadow: none;
    margin: 0px; 
    padding: 0px;
}

/* color buttons have no border */
button.color {
    border: none;
    box-shadow: none;
    margin: 0px; 
    padding: 0px;
}

scrolledwindow checkbutton {
    padding: 0px;
}

framed box
box.framed {
    border:1px solid rgb(192, 192, 192)
}

/* invalid value in entry */
/* entry.error {
    border: 2px solid orchid;
} */

.hilite {
    border: 1px solid orange;
} 

combobox {
    -GtkComboBox-appears-as-list: 1; 
}

@define-color contrasted_bg mix(@theme_fg_color, @theme_bg_color, 0.7);

.tag {
    background-color: @contrasted_bg;
    border-radius: 6px; 
}
