/* background and text colors  for status bar */
.statusbar {
    background-image: none;
    background-color: rgb(128, 128, 128);
    color: white;
    min-height: 24px;
}
/*
entry.statusbar {
    background-color:rgb(192, 192, 192);
   outline:none;
} */

/* define font sizes for labels */
.smallLabel {
    font-size: 70%;
}

.largeLabel {
    font-size: 140%;
}

.toolbar-button {
    padding-left: 6px;
    padding-right: 6px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.toolbar-button:hover {
    background: lightblue;
    border-style: solid;
    border-color: blue;
}

/* the following rule reduces the height of
the layer selection combobox inside the toolbar */

#toolbar > combobox {
    padding: 4px;
}

.split-dropdown {
    min-width: 12px;
    padding-left: 2px;
    padding-right: 2px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.split-dropdown image {
    min-width: 8px;
    min-height: 8px;
}

.toolbar-separator {
    padding: 0px;
    margin: 0px;
    min-width: 4px;
}

.flat-button {
    border: none;
    box-shadow: none;
    margin: 0px;
    padding: 0px;
}

/* color buttons have no border */
button.color {
    border: none;
    box-shadow: none;
    margin: 0px;
    padding: 0px;
}

scrolledwindow checkbutton {
    padding: 0px;
}

framed box box.framed {
    border: 1px solid rgb(192, 192, 192);
}

/* invalid value in entry */
/* entry.error {
    border: 2px solid orchid;
} */

.hilite {
    border: 1px solid orange;
}

combobox {
    -gtkcombobox-appears-as-list: 1;
}

@define-color contrasted_bg mix(@theme_fg_color, @theme_bg_color, 0.7);

.tag {
    background-color: @contrasted_bg;
    border-radius: 6px;
}
